* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top right, #ffc9de, #ffd1dc);
  overflow: hidden;
  font-family: "Arial", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 5;
}

.question {
  font-size: 2.5rem;
  color: rgb(0, 0, 0); /* text color black */
  text-shadow: 1px 1px 2px #ffffff;
  opacity: 0;
  transform: scale(0.8);
  animation: showQuestion 2s forwards;
  padding: 20px;
  max-width: 90%;
}

@keyframes showQuestion {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.heart {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  transform: rotate(-45deg);
  animation: floatUp 8s linear infinite;
  opacity: 0;
  z-index: 0;
}

.heart::before,
.heart::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: 10px;
  top: 0;
}

@keyframes floatUp {
  0% {
    top: 100%;
    opacity: 0;
    transform: translateX(0) translateY(0) rotate(-45deg) scale(0.5);
  }
  10% {
    opacity: 1;
  }
  100% {
    top: -10%;
    transform: translateX(0) translateY(-100vh) rotate(360deg) scale(1.2);
    opacity: 0;
  }
}

.final {
  font-size: 3rem;
  color: rgb(230, 122, 188);
  text-shadow: 2px 2px 8px rgb(255, 255, 255);
  opacity: 0;
  transform: scale(0);
  animation: finalReveal 2s forwards;
  animation-delay: 2s;
  text-align: center;
}

@keyframes finalReveal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.sticker {
  width: 450px;
  height: 450px;
  margin-top: 20px;
  animation: popSticker 1s ease forwards;
  opacity: 0;
  object-fit: contain;
}

@keyframes popSticker {
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.hidden {
  display: none;
}

button {
  margin-top: 60px;
  padding: 10px 30px;
  background: #ff4d6d;
  border: white;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 2px 2px 10px #ff8fa3;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}
